:root {
  --primary: #6c38cc;
  --secondary: #e47ad5;
  --total-black: #101114;
  --black: #16171d;
  --gray-dark: #1e1f29;
  --violet-dark: #2e2d3d;
  --gray-stroke: #4d5064;
  --gray-light: #dad9de;
  --gray: #afb2bf;
  --gradient: linear-gradient(
    93.33deg,
    #d77be6 9.26%,
    #be63e6 42.32%,
    #6c38cc 104.58%
  );
  --white: #fafafa;
  --green: #38cc6c;
  --yellow: #fdf41a;
  --radius: 10px;
  --primary-hover: #452481;
  --primary-link: #a97bff;

  --layout-max-width: 1220px;
}

body {
  margin: 0;
  background: var(--black);
  color: var(--white);
  font-family: var(--fira-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
main {
  flex: 1 0 auto;
}
.variable {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.markdown {
  margin-bottom: 40px;
}
.markdown.markdown__withoutMarginBottom {
  margin-bottom: 0;
}
.markdown .hljs-comment {
  color: #9e9e9e;
}
.markdown h2:first-child {
  margin-top: 0;
}
.markdown :not(h2, li, ul, [class*="md-container"] *) {
  margin-bottom: 15px;
}
.markdown h1 {
  margin: 0;

  font-size: 44px;
  font-weight: 700;
  line-height: 55px;
}

.markdown h2 {
  margin-bottom: 27px;

  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.markdown h3 {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.markdown p {
  font-size: 18px;
  line-height: 30px;
}

.markdown a {
  color: var(--primary);
  font-size: 18px;
  line-height: 30px;
}

.markdown a:hover {
  color: var(--primary-hover);
}

.markdown ul {
  margin-bottom: 15px;
}
.markdown ul li > ul {
  margin-bottom: 0;
  display: inline-block;
}
.markdown li {
  font-size: 18px;
  line-height: 30px;
  padding: 5px 0 0 48px;
  position: relative;
}
.markdown ol li {
  padding: 0 0 0 10px;
  margin-left: 48px;
}
.markdown ol li::marker {
  color: var(--secondary);
}

.markdown ul li::before {
  position: absolute;
  line-height: 0;

  left: 18px;
  top: 13px;
}
.markdown ul li > ul li {
  display: inline-block;
  white-space: pre-line;
}
.markdown ul li > ul li::before {
  content: "-";
  top: 55%;
}
.markdown li:not(:last-child) {
  margin-bottom: 12px;
}

.markdown pre {
  font-size: 16px;
  line-height: 26px;
}

.markdown blockquote p {
  margin-bottom: 0;
}
.markdown blockquote {
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 32px;
  padding: 16px 0;
  border-top: 1px solid var(--gray-stroke);
  border-bottom: 1px solid var(--gray-stroke);
}

.markdown code:not(.markdown pre code) {
  color: #e77171;
  background: #262729;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 0;
}

.markdown img {
  width: 100%;
}

.hljs {
  white-space: pre-wrap;
}

@media screen and (max-width: 860px) {
  .markdown h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .markdown h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .markdown h3 {
    font-size: 18px;
    line-height: 27px;
  }
}
